* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    height: 800px;
    background-size: cover;
}

.logo {
    color: white;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    
}
