* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
    height: 800px;
    background-size: cover;
    text-align: center;
}

.logo {
    color: #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

.nav-menu li a:hover {
    color: #f2ac32;
    transition: all 0.3s ease-in-out;
}

.header-title-1 {
    color: #f2ac32;
    font-size: 44px;
    font-family: 'Rochester', cursive;
    margin-top: 170px;
    margin-bottom: 15px;
}

.header-title-2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.header-cta-button {
    color: #fff;
    background-color: #f2ac32;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.header-cta-button:hover {
    background-color: #c48924;
}

.search {
    margin-left: 20px;
    margin-right: 20px;
}

.my-bag {
    font-size: 26px;
}

/**************  Discover Section ***************************/

.discover-section {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.food-border {
    border: 2px solid #f2ac32;
    position: relative;
}

.food-overlay {
    padding: 100px 10px 0 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.food-item {
    height: 400px;
    width: 240px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.food-item p {
    color: rgb(99, 99, 99);
    font-size: 16px;
    margin-bottom: 20px;
}

.food-item a {
    font-size: 16px;
    text-decoration: none;
    color: #f2ac32;
    font-family: 'Oswald', sans-serif;
}

.food-1 {
    background-image: url("../images/burger.jpg");
    background-size: cover;
    margin-top: -20px;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.food-2 {
    background-image: url("../images/egg-toast.jpg");
    background-size: cover;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.discover-h1 {
    font-family: 'Rochester', cursive;
    color: #f2ac32;
    margin-bottom: 15px;
}

.discover-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

/**************  Specialities Section  ***************************/
.specialities-section {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/egg-breakfast.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.specialities-h1 {
    font-family: 'Rochester', cursive;
    color: #f2ac32;
    margin-bottom: 15px;
    font-size: 40px;
}

.specialities-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #fff;
    margin-bottom: 100px;
}

.specialities-middle {
    text-align: center;
    position: relative;
}

.specialities-row {
    display: flex;
    justify-content: center;
}

.specialities-image1,
.specialities-image2,
.specialities-image3 {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.specialities-col {
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
}

.specialities-image1 {
    background: url('../images/soup.jpg');
    background-size: cover;
}

.specialities-image1:hover .specialities-overlay,
.specialities-image2:hover .specialities-overlay,
.specialities-image3:hover .specialities-overlay {
    opacity: 1;
}

.specialities-image2 {
    background: url('../images/steak.jpg');
    background-size: cover;
}

.specialities-image3 {
    background: url('../images/pancake.jpg');
    background-size: cover;
}

.specialities-h3 {
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.specialities-overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(242, 172, 50, 0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.specialities-overlay-border {
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}

.specialities-middle:before {
    content: '';
    position: absolute;
    border-top: 100px solid #f0f0f0;
    border-right: 100vw solid transparent;
    top: -100px;
    left: 0;
}

.specialities-middle:after {
    content: '';
    position: absolute;
    border-bottom: 100px solid #f0f0f0;
    border-left: 100vw solid transparent;
    bottom: -100px;
    right: 0;
}

/**************  Special Menu Section  ***************************/

.special-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}

.special-menu-h1 {
    font-family: 'Rochester', cursive;
    color: #f2ac32;
    margin-bottom: 15px;
    font-size: 40px;
}

.special-menu-h2 {
    color: #000;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.special-menu-h3 {
    width: 100%;
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
}

.special-menu-h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    width: 100%;
}

.special-menu-p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 30px 20px;
    width: 100%;
}

.seperator {
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto;
}

.special-menu-col {
    width: 50%;
}

.col-large {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.col-large1 {
    background-color: #f2ac32;
    color: #fff;
    justify-content: center;
}

.fa-ice-cream {
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}